@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #fdf1f6; 
  --foreground: #171717;  
  --primary: #ff88b4;      
  --secondary: #FFE5EC;
  --hover: #ff55a2;         
  --input-border: #d5a5d5;
  --input-bg: #f9f9f9; 
  --product-bg: #fff;      
  --product-border: #f1c6d1;
  --shadow: rgba(0, 0, 0, 0.1); 
  --background-light: #f9f9f9;  
  --foreground-light: #666666;
  --font-family-main: 'Poppins', sans-serif;
  --font-family-heading: 'Roboto', sans-serif;
}



body {
 color: var(--foreground);
 background: var(--background);
 font-family: Arial, Helvetica, sans-serif;
 line-height: 1.6;
}

/*Styling af search og filter*/

.search_filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--secondary);
  border-radius: 8px;
  gap: 10px;
  transition: background-color 0.3s;


  option:hover{
    background-color: var(--hover);
  }
}

.search_input{
  padding: 10px;
  font-size: 1rem;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  background-color: var(--input-bg);
  width: 60%;
  transition: background-color 0.3s;

}

.category_select{
  padding: 10px;
  font-size: 1rem;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  background-color: var(--input-bg);
  margin-left: 10px;
  width: 30%;
}

.search_input:focus, .category_select:focus{
  outline: none;
  border-color: var(--primary);
}

.search_input:hover, .category_select:hover{
  border-color: var(--hover);
}

/*Styling af ProductList*/
.product_list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

.product_item{
  background-color: var(--background-light);
  border: 1px solid var(--foreground-light);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.4 ease-in-out;
}

.product_item:hover{
  transform: translateY(-5px);
}

.product_image{
  width: 150px;
  height: 150px;
  overflow: hidden; /* Skjuler overskydende del af billedet */
  margin: 0 auto;
}

.product_image img {
  object-fit: cover;
}

.product_item h3{
  font-size: 1.2rem;
  color: var(--foreground-light);
}

.product_item button{
  background-color: var(--primary);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

}

.product_item button:hover{
  background-color: var(--hover);
}

/*Styling af cart*/
.cart{
  background-color: var(--product-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow);
  border: 1px solid var(--primary);
}

.cart_header{
  font-size: 1.5rem;
font-weight: bold;
color: var(--foreground);
margin-bottom: 20px;
}

.cart_items{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart_item{
  display: flex;
  width: 300px;  
  background-color: var(--product-bg);
  padding: 15px;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid var(--product-border);
  box-shadow: 0 4px 8px var(--shadow);
}

.cart_item_details{
  display: flex;
  flex-direction: column;
}

.product_title{
  font-size: 1rem;
  color: var(--foreground);
  font-weight: bold;
}

.product_price{
  font-size: 1rem;
  color: var(--foreground);
}

.product_quantity{
  font-size: 1rem;
  color: var(--foreground);
}

.cart_item_buttons{
  display: flex;
  gap: 10px;
}

.cart_button{
  background-color: var(--primary);
  color: white;
  border: none;

  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  }

  .cart_button.add{
    background-color: var(--primary);
    width: 30px;
    height: 30px;
    align-self: center;
    text-align: center;
    transition: background-color 0.3s;

  }

  .cart_button.remove{
    background-color: var(--primary);
    height: 30px;
    width: 30px;
    align-self: center;
    text-align: center;
    transition: background-color 0.3s;

  }

  .cart_button:hover{
    background-color: var(--hover);
  }

  .cart_payment_link{
    display: block;
    margin-top: 20px;
    text-align: center;
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;

  }

  .cart_payment_link:hover{
    background-color: var(--hover);
  }

  /*NavBar styling*/
  .navbar{
    background-color: var(--primary);
    padding: 15px 20px;
    box-shadow: 0 4px 8px var(--shadow);
  }

  .navbar_list{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navbar_item{
    display: inline-block;
  }

  .navbar_link{
    color: var(--foreground);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;

  }

  .navbar_link:hover{
    background-color: var(--hover);
    color: var(--background);
  }

  .navbar_link:active{
background-color: var(--secondary);
  }

  @media (max-width: 768px) {
    .navbar_list {
      flex-direction: column; /* Kolonne layout på små skærme */
      align-items: center;
    }
  
    .navbar_link {
      font-size: 1rem;
      padding: 8px 15px;
    }
  }
/* Styling af produkt side*/

.container_products{
  margin: 0 auto;
  max-width: 1200px;

  h1{
    text-align: center;
  color: var(--foreground);
  font-size: 2rem;
  margin: 20px;
  }
}

.product_cart{
  display: grid;
grid-template-columns: 1fr auto;
gap: 20px;
}

/*Styling af payment*/

.payment_page{
  background-color: var(--background-light);
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
}

.payment_page h1{
  text-align: center;
  color: var(--foreground);
  font-size: 2rem;
  margin-bottom: 20px;
}

.betal_nu{
  background-color: var(--primary);
  color: var(--background);
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;

}

.betal_nu:hover{
  background-color: var(--hover);
}

/*Styling af single view*/
.product_detail{
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--product-bg);
  border: 1px solid var(--product-border);
  border-radius: 10px;
}

.back_button{
  background-color: var(--secondary);
  color: var(--foreground);
  border: 1px solid var(--product-border);
  padding: 10px 15px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;

}

.back_button:hover{
  background-color: var(--hover);
  color: white;
}

.product_content{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 20px;
  align-items: start;
}

.single_image{
  border-radius: 10px;
}

.product_info{
  padding: 10px;
}

.single_title{
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary);
  margin-bottom: 15px;

}

.product_description{
  margin-bottom: 15px;
  color: var(--foreground-light);
}

.single_price{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--foreground);
}

.add_to_cart {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add_to_cart:hover {
  background-color: var(--hover);
}

/*Styling af forside*/


.home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.home_header {
  font-size: 3rem;
  font-family: var(--font-family-heading);
  color: var(--primary);
  margin-bottom: 20px;
  font-weight: bold;
}

.home_subtext {
  font-size: 1.2rem;
  color: var(--foreground-light);
  margin-bottom: 40px;
}

.home_button {
  background-color: var(--primary);
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

.home_button:hover {
  background-color: var(--hover);
  text-decoration: none;
}

.home_image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}